<nav
  class="fixed top-[2%] left-1/2 transform -translate-x-1/2 w-[90%] z-50 flex flex-row justify-between items-center bg-green-50 h-[60px] bg-cover bg-center opacity-80 md:w-[805px]">
  <div class="ml-5">
    <img class="w-28" src="./img/zahradnictvilogobile.png" alt="zahradnictvi kropacek" />
  </div>
  <div class="">
    <ul class="flex flex-row space-x-1 mr-2 font-bold text-[15px]">
      <button onclick="navigateToSection('index.html', 'onas-section')"
        class="cursor-pointer hover:rounded-xl hover:bg-green-600 py-1 px-2">
        Úvod
      </button>
      <button onclick="navigateToSection('index.html', 'nabidka-section')"
        class="cursor-pointer hover:rounded-xl hover:bg-green-600 py-1 px-2">
        Nabídka
      </button>
      <button onclick="navigateToSection('index.html', 'kontakt-section')"
        class="cursor-pointer hover:rounded-xl hover:bg-green-600 py-1 px-2">
        Kontakt
      </button>
    </ul>
  </div>
</nav>